# Topmost editor config file. Will merge other .editorconfig found lower in hierachy
root = true

# All files
[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
line_width = 180
indent_size = 2

# Custom Coding Styles for Java, Groovy, Gradle files
[*.{gradle, groovy, java}]
indent_size = 4

[*.mustache]
insert_final_newline = false
